.uni-page-head-hd {
		.uni-page-head-ft {
			padding-left: 20rpx;

		.uni-page-head-btn {
			width: 48rpx;
			height: 48rpx;
			background: #f0f2f6 !important;
			line-height: 58rpx;
			text-align: center;
			border-radius: 50%;
			margin: 0;
		}
	}
}
.tree-main{
	.ly-tree-node__icon {
		width: 60rpx;
		height: 60rpx !important;
		overflow: hidden;
		margin-right: 16rpx;
		border-radius: 100rpx;
	}
}
.flowBefore-box{
	.records{
		.records-item{
			.record-cell{
				.linzen-file {
					.linzen-file-box {
						text-align: left !important;
					}
				}
			}
		}
	}
}
.screen-box {
		background-color: #fff;
		height: 100%;
		.notData-box {
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			padding-bottom: 200rpx;
		
			.notData-inner {
				width: 280rpx;
				height: 308rpx;
				align-items: center;
		
				.iconImg {
					width: 100%;
					height: 100%;
				}
		
				.notData-inner-text {
					padding: 30rpx 0;
					color: #909399;
				}
			}
		}
		.screen-list {
			width: 100%;
			height: 100%;
			.list {
				height: calc(100% - 88rpx);
				overflow-y: scroll;
				.u-form {
					.u-form-item {
						.u-form-item__body {
							.u-form-item--right {
								align-items: center !important;
								.u-form-item--right__content{
									.u-form-item--right__content__slot {
										justify-content: end;
										.linzen-num-range{
											.u-input{
												//text-align: center !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.u-model__content__message {
		word-break: break-all;
	}

	.u-input__input {
		color: #606266 !important;
	}

	.u-select__header {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			border-bottom: 0.5px solid #eaeef1;
			-webkit-transform: scaleY(0.5);
			transform: scaleY(0.5);
			bottom: 0;
			right: 0;
			left: 0;
		}
	}

	.u-input__textarea {
		padding: 18rpx 0 !important;
	}

	.u-form-item__body {}

	.u-form-item--right {
		align-items: flex-start;

		.u-form-item--right__content {
			.u-form-item--right__content__slot {}
		}
	}

	.u-form-item--left {
		align-items: flex-start !important;

		.u-form-item--left__content {
			.u-form-item--left__content__label {
				// justify-content: flex-start !important;
				display: flex;
				flex-direction: row;
				flex: 1;
				align-items: baseline;

				.u-form-item--left__content__icon {
					margin: 0;
					display: inline-block;
				}
			}
		}
	}

	.u-select__body__multiple {
		.u-checkbox-group {
			width: 100%;
			padding: 0 30rpx;

			.u-checkbox {
				height: 70rpx;
			}

			.u-checkbox__label {
				flex: 1;
				margin-left: 40rpx;
			}
		}
	}

	.linzen-city-select {
		.u-close {
			line-height: 1;
		}
	}

	.u-select__body__treeSelect {
		height: 780rpx !important;

		.treeSelect-search {
			padding: 20rpx 40rpx 0;
		}

		.u-select-head {
			width: 100%;
			height: 100rpx;
			align-items: center;
			padding: 0 16rpx !important;

			.backIcon {
				font-size: 40rpx;
				color: #000;
			}

			.title {
				width: 100%;
				height: 100%;
				text-align: center;
			}
		}

		.tree-box {
			height: 700rpx;

			.ly-tree {
				padding: 20rpx 40rpx;
			}

			.ly-tree-node__icon {
				line-height: 74rpx;
				height: 70rpx;
			}

			.ly-radio {
				display: flex;
				justify-content: center;
				align-items: center;

				.ly-radio__inner {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	.swiper-box {
		.ly-tree-node__icon {
			height: 70rpx;
		}
	}

	.popup-content,
	.user-select {
		.ly-tree {
			padding: 10rpx 0 0 0 !important;
		}

		.ly-tree-node__icon {
			/* #ifdef APP-PLUS */
			line-height: 40rpx;
			/* #endif */
			/* #ifndef APP-PLUS */
			line-height: 74rpx;
			/* #endif */
			height: 70rpx;
		}
	}

	.linzen-table {
		margin-bottom: 20rpx;

     .linzen-table-title {
        flex: 1;
        min-width: 0;
        padding: 20rpx;
	 }
		&+.linzen-table {
			margin-top: -20rpx;
		}

		.linzen-table-item-title {
		width: 100%;
		font-size: 26rpx;
		display: flex;
		justify-content: space-between;
		padding: 20rpx;
			background-color: #f0f2f6;
          
			.linzen-table-item-title-num {
				flex: 1;
				min-width: 0;
				padding: 0 20rpx;
			}

			.linzen-table-item-title-action {
				color: #2979ff;
				flex-shrink: 0;
			}
			
			.linzen-table-delete-btn {
			    color: #fa3534;
			    flex-shrink: 0;
				padding-left: 20rpx;
			}
			.linzen-table-copy-btn{
				color: #2979ff;
				flex-shrink: 0;
			}
		}

		.linzen-table-addBtn {
			color: #2979ff;
			height: 88rpx;
			text-align: center;
			line-height: 88rpx;
			font-size: 28rpx;
			background-color: #fff;
		}
		
		.linzen-table-footer-btn{
			background-color: #fff;
			display: flex;
			flex-wrap: nowrap;
			padding: 20rpx;
			  
			.linzen-table-btn{
				margin: 0;
				flex:1;
				flex-shrink: 0;
				min-width: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #303133;
				.linzen-table-btn-icon{
					padding-right: 8rpx;
				}
				.linzen-table-btn-text{
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
			.linzen-table-btn:not(:last-child){
				padding-right: 10rpx;
			}
			.linzen-table-text-btn,
			.linzen-table-primary-btn{
				color: $u-type-primary;
			 }
			.linzen-table-success-btn{
			  	color: $u-type-success;
			}
			.linzen-table-info-btn{
			  	color: $u-type-info;
			}
			.linzen-table-warning-btn{
			  	color: $u-type-warning;
			}
			.linzen-table-danger-btn{
			  	color: $u-type-error;
			}
		}
	}

	.linzen-wrap {
		background-color: #f0f2f6;

		.slider-box {
			height: 74rpx;
			flex: 1;
			justify-content: center;
		}

		&.linzen-wrap-form {
			padding-bottom: 88rpx;
		}



		.u-form {
			.form-item-box {
				background-color: #fff;

				.u-form-item {
					background-color: #fff;
					min-height: 112rpx;
					box-sizing: border-box;
				}
			}
		}

		&.linzen-wrap-workflow {
			padding-bottom: 1rpx;

			.u-form {}
		}

		.linzen-card {
			margin: 20rpx 0;

			&+.linzen-table {
				margin-top: -20rpx;
			}

			.linzen-card-cap {
				min-height: 80rpx;
				margin-top: -20rpx;
				line-height: 80rpx;
				font-size: 26rpx;
				padding: 0 20rpx;
			}
		}

		.linzen-group+.linzen-card {
			margin-top: 0;
		}

		.linzen-text+.linzen-card {
			margin-top: 0;
		}
	}

	.portal-v {
		padding: 20rpx;

		.portal-box {
			width: 100%;
			height: 100%;

			.htabs {
				.u-scroll-box {
					height: 80rpx;

					.u-tab-item {
						border-right: 1px solid #e4e7ed;

						&::before {
							content: "";
						}
					}
				}
			}

			.card-v {
				&.u-card {
					margin: 0rpx !important;
					padding: 0rpx !important;
				}
			}
		}
	}

	.buttom-actions {
		position: fixed;
		z-index: 20;
		bottom: 0;
	}

	.buttom-actions,
	.flowBefore-actions {
		background-color: #fff;
		position: fixed;
		bottom: 0;
		display: flex;
		width: 100%;
		height: 88rpx;
		box-shadow: 0 -2rpx 8rpx #e1e5ec;
		z-index: 20;

		.buttom-btn {
			width: 100%;
			/* #ifndef MP */
			height: 88rpx !important;
			line-height: 88rpx !important;
			border-radius: 0 !important;

			&::after {
				border: none !important;
			}

			/* #endif */
			/* #ifdef MP */
			.u-btn {
				width: 100%;
				height: 88rpx !important;
				line-height: 88rpx !important;
				border-radius: 0 !important;

				&::after {
					border: none !important;
				}
			}

			/* #endif */
		}
	}

	.apply-v {
		.banner {
			.u-indicator-item-round.u-indicator-item-round-active {
				background-color: $u-type-primary;
			}
		}
	}

	.search-box {
		height: 112rpx;
		width: 100%;
		padding: 20rpx 22rpx;
		z-index: 10000;
		background: #fff;
	}

	.flow-list {
		.uni-swipe {
			margin-bottom: 20rpx;
			border-radius: 8rpx;

			.item {
				border-radius: 0 !important;
			}
		}

		.flow-list-box {
			margin: 20rpx;

			.u-swipe-content {
				width: calc(100% - 180rpx);
			}

			.u-swipe-action {
				border-radius: 20rpx;
			}

			.item {
				width: 100%;
				display: flex;
				flex-direction: row;
				padding: 20rpx 20rpx;
				background-color: #fff;
				border-radius: 8rpx;
				height: 170rpx;

				// margin-bottom: 20rpx;
				.item-left {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					overflow: hidden;
					text-overflow: ellipsis;

					.title {
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						color: #303133;

						.titInner {
							// margin-left: 10rpx;
							color: #606266;
						}
					}
				}

				.item-right {
					display: flex;
					align-items: center;
					justify-content: flex-end;

					.item-right-img {
						width: 102rpx;
					}
				}
			}
		}

		&.flowBefore .item {
			margin-bottom: 20rpx;
		}
	}

	.search-box_sticky {
		z-index: 990;
		position: sticky;
		top: var(--window-top);
		background-color: #fff;
	}

	.copyright {
		position: fixed;
		bottom: 40rpx;
		left: 0;
		right: 0;
		text-align: center;
		color: #909399;
		font-size: 26rpx;
	}

	.com-addBtn {
		width: 110rpx;
		height: 110rpx;
		border-radius: 50%;
		background-color: rgba(41, 121, 255, 0.7);
		position: fixed;
		bottom: 100rpx;
		right: 40rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;
	}

	.com-saveBox {
		width: 100%;
		position: fixed;
		bottom: 30rpx;
		left: 0;
		padding: 0 20rpx;
	}

	.com-dropdown {

		.u-dropdown__content__popup,
		.u-dropdown-item {
			height: 100%;
		}
	}

	.u-input {
		align-items: center;

	}

	.dropdown-slot-content {
		height: 100%;
		display: flex;
		flex-direction: column;

		.dropdown-slot-content-main {
			background-color: #fff;
			max-height: 100%;
			overflow: auto;

			&.search-main {
				overflow: hidden;
			}

			.search-form {
				max-height: calc(100% - 88rpx);
				overflow: auto;

				.u-form {
					.u-form-item {
						min-height: 112rpx;
					}
				}
			}
		}

		.buttom-actions {
			position: static !important;
			box-shadow: none;
		}

		.dropdown-slot-bg {
			flex: 1;
			opacity: 0;
		}
	}

	.slider-badge-button {
		padding: 4rpx 6rpx;
		background-color: $u-type-primary;
		color: #fff;
		border-radius: 10rpx;
		font-size: 22rpx;
		line-height: 1;
	}

	.u-form-item-switch {
		width: 100%;
	}

	/* #ifdef MP */
	.u-form-item-switch {
		padding-top: 26rpx;
		box-sizing: border-box;
		height: 70rpx;
	}

	/* #endif */
	.dynamicModel-list-v,
	.order-v {
		height: 100%;
		display: flex;
		flex-direction: column;

		.head-warp {
			background-color: #fff;
		}

		.list-warp {
			flex: 1;
			min-width: 0;
			min-height: 0;
			.mescroll-empty {
				padding: 400rpx 27px;
			}
			.list{
				.list-box{
					.linzen-file{
						.linzen-file-box{
							    text-align: left !important;
						}
					}
				}
			}
		}

		.list {
			.list-box {
				width: 100%;


				.uni-swipe {
					margin-top: 20rpx;
					border-radius: 8rpx;
				}

				.u-swipe-content {
					width: calc(100% - 180rpx);
				}

				.u-swipe-action {
					border-radius: 10rpx;
				}

				.item {
					height: 100%;
					background-color: #fff;
					padding: 20rpx 20rpx 0 20rpx !important;

					.uni-collapse-item__title-box {
						padding: 0 26rpx;

						.uni-collapse-item__title-text {
							font-size: 28rpx;
						}
					}

					.item-cell-c {
						padding-top: 20rpx;
						border-bottom: 1px solid #efefef;
					}

					.item-cell {
						font-size: 24rpx;
						color: #303133;
						margin-bottom: 20rpx;

						.uni-collapse-item-border {
							border: 0 !important;
						}

						.uni-collapse-item--border {
							border-bottom-width: 0 !important;
						}

						.listTit {
							width: 124rpx;
							display: inline-block;
							text-align: right;
							vertical-align: bottom;
							margin-right: 10rpx;
						}

						.listContent {
							color: #606266;
						}

						.loadMore {
							color: #379dfa;
							text-align: center;
							height: 80rpx;
							line-height: 80rpx;
						}
					}

					.item-compatible-cell {
						font-size: 24rpx;
						color: #303133;
						margin-bottom: 20rpx;
						display: flex;
						align-items: center;

						.item-cell-label {
							width: 124rpx;
							text-align: right;
							margin-right: 10rpx;
							flex-shrink: 0;
						}

						.item-cell-content {
							color: #606266;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							flex: 1;
							.linzen-rate{
								justify-content: flex-start;
							}
							&.item-cell-slider{
								height: 36rpx;
								padding: 16rpx 40rpx 0 20rpx;
								margin: 0 -20rpx;
							}
							.linzen-file{
								.linzen-file-box{
									text-align: left;
									.linzen-file-item{
										font-size:28rpx;
									}
								}
							}
						}

						.text-primary {
							color: #1890ff;
						}

						.item-cell-children {
							padding-top: 10px;
							border-bottom: 1px solid #efefef;
						}

						.loadMore {
							color: #379dfa;
							text-align: center;
							height: 80rpx;
							line-height: 80rpx;
						}

						.tableCell {
							width: 100%;
						}

						.uni-collapse-item-border {
							border: 0 !important;
						}

						.uni-collapse-item--border {
							border-bottom-width: 0 !important;
						}
					}
				}
			}
		}
	}

	.uni-input-wrapper {
		color: #606266 !important;
	}

	.linzen-detail-text {
		text-align: right;
		width: 100%;
		word-break: break-all;
		color: #606266;
	}

	.preview-image-box {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;

		/deep/.u-preview-image {
			width: 146rpx;
			height: 146rpx;
			margin-left: 20rpx;
			border-radius: 10rpx;
		}
	}

	.editor-box {
		width: 100%;
		word-break: break-all;
	}