#macro(CreateExcelFields $html,$index)
    #set($vModel = ${html.vModel})
    #set($config = ${html.config})
    #set($linzenkey = "${config.projectKey}")
    /** ${config.label} **/
    @JSONField(name = "${vModel}")
    @Excel(name = "${config.label}(${vModel})",orderNum = "1", isImportField = "true" )
    #if(${linzenkey}=='inputNumber' || ${linzenkey}=='calculate' )
        #if($!{fieLdsModel.formColumnModel.fieLdsModel.precision})
    private BigDecimal ${vModel};

        #else
    private Integer ${vModel};

        #end
    #elseif(${linzenkey}=='slider'|| ${linzenkey}=='rate')
    private Integer ${vModel};

    #elseif(${linzenkey}=='modifyTime' || ${linzenkey}=='createTime')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss",timezone = "GMT+8")
    private Date ${vModel};

    #elseif(${linzenkey}=='datePicker')
        #set($pattern = "yyyy-MM-dd")
        #if(${html.format})
            #set($pattern = "${html.format}")
        #end
    @JsonFormat(pattern = "$pattern",timezone = "GMT+8")
    private String ${vModel};

    #else
    private String ${vModel};

    #end
#end
