@font-face {
  font-family: 'icon-linzen'; /* Project id 1 */
  src: url('iconfont.woff2?t=1699839358592') format('woff2'), url('iconfont.woff?t=1699839358592') format('woff'),
    url('iconfont.ttf?t=1699839358592') format('truetype');
}

.icon-linzen {
  font-family: 'icon-linzen' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linzen-launch:before {
  content: '\e901';
}

.icon-linzen-turn:before {
  content: '\e8fa';
}

.icon-linzen-roll-call:before {
  content: '\e8fb';
}

.icon-linzen-comment-img:before {
  content: '\e8fc';
}

.icon-linzen-condition:before {
  content: '\e8fd';
}

.icon-linzen-generator-iframe:before {
  content: '\e8fe';
}

.icon-linzen-edit:before {
  content: '\e8ff';
}

.icon-linzen-comment-file:before {
  content: '\e900';
}

.icon-linzen-emoji:before {
  content: '\e8f7';
}

.icon-linzen-generator-location:before {
  content: '\e8f8';
}

.icon-linzen-chat:before {
  content: '\e8f9';
}

.icon-linzen-synForThird:before {
  content: '\e8f6';
}

.icon-linzen-authGroup:before {
  content: '\e8f2';
}

.icon-linzen-fail:before {
  content: '\e8f3';
}

.icon-linzen-success:before {
  content: '\e8f4';
}

.icon-linzen-clock:before {
  content: '\e8f5';
}

.icon-linzen-view:before {
  content: '\e8f1';
}

.icon-linzen-shortcut:before {
  content: '\e8f0';
}

.icon-linzen-liveData:before {
  content: '\e8ef';
}

.icon-linzen-generator-autoComplete:before {
  content: '\e8eb';
}

.icon-linzen-contacts:before {
  content: '\e8ec';
}

.icon-linzen-portal-text:before {
  content: '\e8ed';
}

.icon-linzen-portal-mapChart:before {
  content: '\e8ee';
}

.icon-linzen-generator-tableGrid:before {
  content: '\e8db';
}

.icon-linzen-portal-card:before {
  content: '\e8dc';
}

.icon-linzen-portal-carousel:before {
  content: '\e8dd';
}

.icon-linzen-generator-insertCol:before {
  content: '\e8de';
}

.icon-linzen-generator-insertRow:before {
  content: '\e8df';
}

.icon-linzen-btn-batch:before {
  content: '\e8e0';
}

.icon-linzen-portal-collapse:before {
  content: '\e8e1';
}

.icon-linzen-portal-rankList:before {
  content: '\e8e2';
}

.icon-linzen-portal-image:before {
  content: '\e8e3';
}

.icon-linzen-portal-tab:before {
  content: '\e8e4';
}

.icon-linzen-portal-video:before {
  content: '\e8e5';
}

.icon-linzen-generator-TableSettings:before {
  content: '\e8e6';
}

.icon-linzen-btn-common:before {
  content: '\e8e7';
}

.icon-linzen-portal-iframe:before {
  content: '\e8e8';
}

.icon-linzen-portal-timeAxis:before {
  content: '\e8e9';
}

.icon-linzen-portal-schedule:before {
  content: '\e8ea';
}

.icon-linzen-flowEntrust-app:before {
  content: '\e8da';
}

.icon-linzen-btn-download:before {
  content: '\e8d9';
}

.icon-linzen-btn-upload:before {
  content: '\e8d7';
}

.icon-linzen-right:before {
  content: '\e8d4';
}

.icon-linzen-left:before {
  content: '\e8d5';
}

.icon-linzen-arrow-down:before {
  content: '\e8d6';
}

.icon-linzen-add-flow:before {
  content: '\e8d8';
}

.icon-linzen-launchFlow:before {
  content: '\e8d2';
}

.icon-linzen-funcFlow:before {
  content: '\e8d3';
}

.icon-linzen-accountConfig:before {
  content: '\e8cb';
}

.icon-linzen-sendConfig:before {
  content: '\e8cc';
}

.icon-linzen-smsConfig:before {
  content: '\e8cd';
}

.icon-linzen-emailConfig:before {
  content: '\e8ce';
}

.icon-linzen-msgCenter:before {
  content: '\e8cf';
}

.icon-linzen-msgTemplate:before {
  content: '\e8d0';
}

.icon-linzen-msgMonitor:before {
  content: '\e8d1';
}

.icon-linzen-logo-webhook:before {
  content: '\e8ca';
}

.icon-linzen-logo-github:before {
  content: '\e8b0';
}

.icon-linzen-logo-feishu:before {
  content: '\e8c5';
}

.icon-linzen-logo-dingding:before {
  content: '\e8c6';
}

.icon-linzen-logo-wechat:before {
  content: '\e8c7';
}

.icon-linzen-logo-qq:before {
  content: '\e8c8';
}

.icon-linzen-logo-wxWork:before {
  content: '\e8c9';
}

.icon-linzen-position1:before {
  content: '\e8c3';
}

.icon-linzen-generator-popupTableSelect:before {
  content: '\e8c4';
}

.icon-linzen-gradeManage:before {
  content: '\e8c2';
}

.icon-linzen-fold:before {
  content: '\e829';
}

.icon-linzen-customForm:before {
  content: '\e857';
}

.icon-linzen-branch:before {
  content: '\e8b1';
}

.icon-linzen-codeGeneration1:before {
  content: '\e8b2';
}

.icon-linzen-filter:before {
  content: '\e8b3';
}

.icon-linzen-download:before {
  content: '\e8b4';
}

.icon-linzen-functionForm:before {
  content: '\e8b5';
}

.icon-linzen-unfold:before {
  content: '\e8b6';
}

.icon-linzen-node:before {
  content: '\e8b7';
}

.icon-linzen-nav-home:before {
  content: '\e8b8';
}

.icon-linzen-systemForm:before {
  content: '\e8b9';
}

.icon-linzen-generator-link:before {
  content: '\e8ba';
}

.icon-linzen-timer:before {
  content: '\e8bb';
}

.icon-linzen-generator-alert:before {
  content: '\e8bc';
}

.icon-linzen-generator-group1:before {
  content: '\e8bd';
}

.icon-linzen-generator-role:before {
  content: '\e8be';
}

.icon-linzen-systemToggle:before {
  content: '\e8bf';
}

.icon-linzen-upload:before {
  content: '\e8c0';
}

.icon-linzen-generator-department1:before {
  content: '\e8c1';
}

.icon-linzen-signature:before {
  content: '\e8af';
}

.icon-linzen-yingyong:before {
  content: '\e81e';
}

.icon-linzen-generator-section:before {
  content: '\e853';
}

.icon-linzen-lianxi:before {
  content: '\e873';
}

.icon-linzen-bigScreenExampl:before {
  content: '\e755';
}

.icon-linzen-appForm:before {
  content: '\e756';
}

.icon-linzen-authorize:before {
  content: '\e75c';
}

.icon-linzen-dataApplication:before {
  content: '\e75d';
}

.icon-linzen-dataDictionary:before {
  content: '\e76c';
}

.icon-linzen-codeGeneration:before {
  content: '\e76f';
}

.icon-linzen-documentPreviewExample:before {
  content: '\e77b';
}

.icon-linzen-dataInterface:before {
  content: '\e78f';
}

.icon-linzen-bigScreenDesign:before {
  content: '\e7a7';
}

.icon-linzen-dataSync:before {
  content: '\e7ab';
}

.icon-linzen-extend:before {
  content: '\e7b1';
}

.icon-linzen-flowForm:before {
  content: '\e7b2';
}

.icon-linzen-dataModel:before {
  content: '\e7bb';
}

.icon-linzen-formExample:before {
  content: '\e7c8';
}

.icon-linzen-department:before {
  content: '\e812';
}

.icon-linzen-dataSource:before {
  content: '\e816';
}

.icon-linzen-flowLaunch:before {
  content: '\e81b';
}

.icon-linzen-flowForm1:before {
  content: '\e81f';
}

.icon-linzen-formDesign:before {
  content: '\e827';
}

.icon-linzen-highchartsWordcloud:before {
  content: '\e82c';
}

.icon-linzen-dataBackup:before {
  content: '\e830';
}

.icon-linzen-flowEntrust:before {
  content: '\e831';
}

.icon-linzen-role:before {
  content: '\e832';
}

.icon-linzen-information:before {
  content: '\e834';
}

.icon-linzen-portalDesign:before {
  content: '\e83b';
}

.icon-linzen-highchartsColumn:before {
  content: '\e83c';
}

.icon-linzen-onlineUser:before {
  content: '\e83f';
}

.icon-linzen-sysMonitor:before {
  content: '\e842';
}

.icon-linzen-sysCache:before {
  content: '\e843';
}

.icon-linzen-organization:before {
  content: '\e845';
}

.icon-linzen-flowTodo:before {
  content: '\e847';
}

.icon-linzen-pause:before {
  content: '\e849';
}

.icon-linzen-report-icon-preview-pageIndex:before {
  content: '\e84c';
}

.icon-linzen-sysProvince:before {
  content: '\e850';
}

.icon-linzen-sysNotice:before {
  content: '\e851';
}

.icon-linzen-wf-finishedProduct:before {
  content: '\e852';
}

.icon-linzen-reportExample:before {
  content: '\e85d';
}

.icon-linzen-wf-crmOrder:before {
  content: '\e864';
}

.icon-linzen-signetExample:before {
  content: '\e866';
}

.icon-linzen-position:before {
  content: '\e867';
}

.icon-linzen-permission:before {
  content: '\e868';
}

.icon-linzen-user:before {
  content: '\e871';
}

.icon-linzen-wf-expenseExpenditure:before {
  content: '\e877';
}

.icon-linzen-onlineDevelopment:before {
  content: '\e87a';
}

.icon-linzen-sysBillRule:before {
  content: '\e88b';
}

.icon-linzen-system:before {
  content: '\e892';
}

.icon-linzen-reportDesign:before {
  content: '\e896';
}

.icon-linzen-sysQuartz:before {
  content: '\e897';
}

.icon-linzen-workFlow:before {
  content: '\e89e';
}

.icon-linzen-sysIcon:before {
  content: '\e8a4';
}

.icon-linzen-huibao:before {
  content: '\e8a5';
}

.icon-linzen-webForm:before {
  content: '\e8a6';
}

.icon-linzen-wf-staffOvertime:before {
  content: '\e8a7';
}

.icon-linzen-tree-manage1:before {
  content: '\e8a8';
}

.icon-linzen-webDesign:before {
  content: '\e8a9';
}

.icon-linzen-wf-receiptSign:before {
  content: '\e8aa';
}

.icon-linzen-windows:before {
  content: '\e8ab';
}

.icon-linzen-systemTemplate:before {
  content: '\e8ac';
}

.icon-linzen-sysLog:before {
  content: '\e8ad';
}

.icon-linzen-sysConfig:before {
  content: '\e8ae';
}

.icon-linzen-header-pannel:before {
  content: '\e7cf';
}

.icon-linzen-search:before {
  content: '\e804';
}

.icon-linzen-header-message:before {
  content: '\e810';
}

.icon-linzen-generator-jobs:before {
  content: '\e819';
}

.icon-linzen-clean:before {
  content: '\e83e';
}

.icon-linzen-header-IM:before {
  content: '\e899';
}

.icon-linzen-header-language:before {
  content: '\e8a3';
}

.icon-linzen-flowDone-app:before {
  content: '\e7a6';
}

.icon-linzen-flowLaunch-app:before {
  content: '\e7b3';
}

.icon-linzen-addFlow:before {
  content: '\e7b8';
}

.icon-linzen-flowCopy-app:before {
  content: '\e7bf';
}

.icon-linzen-flowTodo-app:before {
  content: '\e8a2';
}

.icon-linzen-mobile:before {
  content: '\e7dc';
}

.icon-linzen-pc:before {
  content: '\e7ee';
}

.icon-linzen-video-play:before {
  content: '\e8a1';
}

.icon-linzen-header-collapse1:before {
  content: '\e809';
}

.icon-linzen-xitong:before {
  content: '\e814';
}

.icon-linzen-full-screen1:before {
  content: '\e7d0';
}

.icon-linzen-file-html1:before {
  content: '\e7d1';
}

.icon-linzen-generator-area:before {
  content: '\e7d2';
}

.icon-linzen-generator-modifytime:before {
  content: '\e7d3';
}

.icon-linzen-generator-fold:before {
  content: '\e7d4';
}

.icon-linzen-generator-founder:before {
  content: '\e7d5';
}

.icon-linzen-generator-line:before {
  content: '\e7d6';
}

.icon-linzen-generator-department:before {
  content: '\e7d7';
}

.icon-linzen-generator-function:before {
  content: '\e7d8';
}

.icon-linzen-generator-notice:before {
  content: '\e7d9';
}

.icon-linzen-generator-Provinces:before {
  content: '\e7da';
}

.icon-linzen-generator-popup-attr:before {
  content: '\e7dd';
}

.icon-linzen-generator-divider:before {
  content: '\e7de';
}

.icon-linzen-generator-radio:before {
  content: '\e7df';
}

.icon-linzen-generator-menu:before {
  content: '\e7e0';
}

.icon-linzen-generator-popup:before {
  content: '\e7e1';
}

.icon-linzen-generator-input:before {
  content: '\e7e2';
}

.icon-linzen-generator-rich-text:before {
  content: '\e7e3';
}

.icon-linzen-generator-Panel:before {
  content: '\e7e4';
}

.icon-linzen-generator-table:before {
  content: '\e7e5';
}

.icon-linzen-generator-radar:before {
  content: '\e7e6';
}

.icon-linzen-generator-password:before {
  content: '\e7e7';
}

.icon-linzen-generator-component:before {
  content: '\e7e8';
}

.icon-linzen-generator-station:before {
  content: '\e7e9';
}

.icon-linzen-generator-rate:before {
  content: '\e7ea';
}

.icon-linzen-generator-subFlow1:before {
  content: '\e7eb';
}

.icon-linzen-generator-number:before {
  content: '\e7ec';
}

.icon-linzen-generator-steps:before {
  content: '\e7ed';
}

.icon-linzen-generator-flow:before {
  content: '\e7ef';
}

.icon-linzen-generator-color:before {
  content: '\e7f0';
}

.icon-linzen-generator-label:before {
  content: '\e7f1';
}

.icon-linzen-generator-nature:before {
  content: '\e7f2';
}

.icon-linzen-generator-select:before {
  content: '\e7f3';
}

.icon-linzen-generator-slider:before {
  content: '\e7f4';
}

.icon-linzen-generator-qrcode:before {
  content: '\e7f5';
}

.icon-linzen-generator-group:before {
  content: '\e7f6';
}

.icon-linzen-generator-time:before {
  content: '\e7f7';
}

.icon-linzen-generator-user:before {
  content: '\e7f8';
}

.icon-linzen-generator-modifier:before {
  content: '\e7f9';
}

.icon-linzen-h5:before {
  content: '\e7fa';
}

.icon-linzen-generator-tree:before {
  content: '\e7fb';
}

.icon-linzen-gonggao:before {
  content: '\e7fc';
}

.icon-linzen-generator-kanban:before {
  content: '\e7fd';
}

.icon-linzen-generator-textarea:before {
  content: '\e7fe';
}

.icon-linzen-generator-todo:before {
  content: '\e7ff';
}

.icon-linzen-header-loginOut:before {
  content: '\e800';
}

.icon-linzen-header-expand:before {
  content: '\e801';
}

.icon-linzen-generator-time-range:before {
  content: '\e802';
}

.icon-linzen-header-lockScreen:before {
  content: '\e803';
}

.icon-linzen-generator-switch:before {
  content: '\e805';
}

.icon-linzen-header-feedBack:before {
  content: '\e806';
}

.icon-linzen-header-skins:before {
  content: '\e807';
}

.icon-linzen-global-role:before {
  content: '\e808';
}

.icon-linzen-highchartsBullet:before {
  content: '\e80b';
}

.icon-linzen-header-userInfo:before {
  content: '\e80c';
}

.icon-linzen-generator-upload:before {
  content: '\e80d';
}

.icon-linzen-generator-todolist:before {
  content: '\e80e';
}

.icon-linzen-highchartsArea:before {
  content: '\e80f';
}

.icon-linzen-highchartsFunnel:before {
  content: '\e811';
}

.icon-linzen-highcharts:before {
  content: '\e813';
}

.icon-linzen-header-about:before {
  content: '\e815';
}

.icon-linzen-importAndExportExample:before {
  content: '\e817';
}

.icon-linzen-highchartsScatter:before {
  content: '\e818';
}

.icon-linzen-header-language1:before {
  content: '\e81a';
}

.icon-linzen-mpMenu:before {
  content: '\e81c';
}

.icon-linzen-group:before {
  content: '\e81d';
}

.icon-linzen-nav-close:before {
  content: '\e820';
}

.icon-linzen-highchartsLine:before {
  content: '\e821';
}

.icon-linzen-ios:before {
  content: '\e822';
}

.icon-linzen-highchartsBellcurve:before {
  content: '\e823';
}

.icon-linzen-mpMaterial:before {
  content: '\e824';
}

.icon-linzen-mpMessage:before {
  content: '\e825';
}

.icon-linzen-message:before {
  content: '\e826';
}

.icon-linzen-java:before {
  content: '\e828';
}

.icon-linzen-orderDemo:before {
  content: '\e82a';
}

.icon-linzen-position-1:before {
  content: '\e82b';
}

.icon-linzen-nav-next:before {
  content: '\e82d';
}

.icon-linzen-projectExample:before {
  content: '\e82f';
}

.icon-linzen-mapExample:before {
  content: '\e833';
}

.icon-linzen-qyUser:before {
  content: '\e835';
}

.icon-linzen-scanCode1:before {
  content: '\e836';
}

.icon-linzen-report-icon-picture:before {
  content: '\e837';
}

.icon-linzen-mpConfig:before {
  content: '\e838';
}

.icon-linzen-options1:before {
  content: '\e839';
}

.icon-linzen-nav-prev:before {
  content: '\e83a';
}

.icon-linzen-scheduleExample:before {
  content: '\e83d';
}

.icon-linzen-Refresh:before {
  content: '\e840';
}

.icon-linzen-options:before {
  content: '\e841';
}

.icon-linzen-saolian:before {
  content: '\e844';
}

.icon-linzen-shezhi:before {
  content: '\e846';
}

.icon-linzen-sysMenu:before {
  content: '\e848';
}

.icon-linzen-barCodeExample:before {
  content: '\e73b';
}

.icon-linzen-sysLanguage:before {
  content: '\e84a';
}

.icon-linzen-report-icon-pie:before {
  content: '\e84b';
}

.icon-linzen-bigScreenExample1:before {
  content: '\e73e';
}

.icon-linzen-bigDataExample:before {
  content: '\e73f';
}

.icon-linzen-orderExample:before {
  content: '\e84d';
}

.icon-linzen-preview-excel-paging:before {
  content: '\e84e';
}

.icon-linzen-btn-import:before {
  content: '\e741';
}

.icon-linzen-tableExample:before {
  content: '\e84f';
}

.icon-linzen-btn-collapse:before {
  content: '\e742';
}

.icon-linzen-btn-edit:before {
  content: '\e743';
}

.icon-linzen-chartExample:before {
  content: '\e744';
}

.icon-linzen-btn-refresh:before {
  content: '\e746';
}

.icon-linzen-tree-department:before {
  content: '\e855';
}

.icon-linzen-checktriangle:before {
  content: '\e747';
}

.icon-linzen-btn-fields:before {
  content: '\e748';
}

.icon-linzen-tree-department2:before {
  content: '\e858';
}

.icon-linzen-btn-export:before {
  content: '\e749';
}

.icon-linzen-tree-normal1:before {
  content: '\e859';
}

.icon-linzen-btn-preview:before {
  content: '\e74a';
}

.icon-linzen-tree-normal:before {
  content: '\e85a';
}

.icon-linzen-tree-organization3:before {
  content: '\e85b';
}

.icon-linzen-btn-add:before {
  content: '\e74c';
}

.icon-linzen-tree-position2:before {
  content: '\e85c';
}

.icon-linzen-btn-expand:before {
  content: '\e74e';
}

.icon-linzen-tree-user2:before {
  content: '\e85e';
}

.icon-linzen-daiban1:before {
  content: '\e74f';
}

.icon-linzen-tree-department1:before {
  content: '\e85f';
}

.icon-linzen-daka:before {
  content: '\e750';
}

.icon-linzen-tableExample1:before {
  content: '\e860';
}

.icon-linzen-tree-manage:before {
  content: '\e861';
}

.icon-linzen-android:before {
  content: '\e752';
}

.icon-linzen-wf-applyDeliverGoods:before {
  content: '\e862';
}

.icon-linzen-darg:before {
  content: '\e753';
}

.icon-linzen-wechat1:before {
  content: '\e863';
}

.icon-linzen-duties:before {
  content: '\e754';
}

.icon-linzen-tree-position1:before {
  content: '\e865';
}

.icon-linzen-echartsColumn:before {
  content: '\e757';
}

.icon-linzen-delete:before {
  content: '\e758';
}

.icon-linzen-echartsCandlestick:before {
  content: '\e759';
}

.icon-linzen-visual-studio:before {
  content: '\e869';
}

.icon-linzen-btn-remove:before {
  content: '\e75a';
}

.icon-linzen-wf-conBilling:before {
  content: '\e86a';
}

.icon-linzen-echartsFunnel:before {
  content: '\e75b';
}

.icon-linzen-wf-batchPack:before {
  content: '\e86b';
}

.icon-linzen-tree-department-1:before {
  content: '\e86c';
}

.icon-linzen-wf-articlesWarehous:before {
  content: '\e86d';
}

.icon-linzen-emailExample:before {
  content: '\e75e';
}

.icon-linzen-wf-applyMeeting:before {
  content: '\e86e';
}

.icon-linzen-dingdang:before {
  content: '\e75f';
}

.icon-linzen-wf-batchTable:before {
  content: '\e86f';
}

.icon-linzen-echartsLineArea:before {
  content: '\e760';
}

.icon-linzen-wf-applyBanquet:before {
  content: '\e870';
}

.icon-linzen-crm:before {
  content: '\e761';
}

.icon-linzen-extend-ambulance:before {
  content: '\e762';
}

.icon-linzen-wf-documentApproval:before {
  content: '\e872';
}

.icon-linzen-echartsScatter:before {
  content: '\e763';
}

.icon-linzen-wf-archivalBorrow:before {
  content: '\e874';
}

.icon-linzen-dbLink:before {
  content: '\e764';
}

.icon-linzen-wf-debitBill:before {
  content: '\e875';
}

.icon-linzen-dot-net:before {
  content: '\e765';
}

.icon-linzen-weChat:before {
  content: '\e876';
}

.icon-linzen-extend-exclamation-triangle:before {
  content: '\e766';
}

.icon-linzen-btn-copy:before {
  content: '\e767';
}

.icon-linzen-wf-contractApproval:before {
  content: '\e879';
}

.icon-linzen-documentExample:before {
  content: '\e768';
}

.icon-linzen-echartsLineBar:before {
  content: '\e769';
}

.icon-linzen-wf-documentSigning:before {
  content: '\e87b';
}

.icon-linzen-extend-clock:before {
  content: '\e76a';
}

.icon-linzen-wf-contractApprovalSheet:before {
  content: '\e87d';
}

.icon-linzen-extend-check-circle-o:before {
  content: '\e76b';
}

.icon-linzen-wf-leaveApply:before {
  content: '\e87f';
}

.icon-linzen-wf-letterService:before {
  content: '\e880';
}

.icon-linzen-erweima:before {
  content: '\e76d';
}

.icon-linzen-wf-officeSupplies:before {
  content: '\e881';
}

.icon-linzen-echartsBarAcross:before {
  content: '\e76e';
}

.icon-linzen-wf-payDistribution:before {
  content: '\e882';
}

.icon-linzen-wf-incomeRecognition:before {
  content: '\e883';
}

.icon-linzen-extend-eye:before {
  content: '\e770';
}

.icon-linzen-wf-postBatchTab:before {
  content: '\e884';
}

.icon-linzen-extend-circle:before {
  content: '\e771';
}

.icon-linzen-wf-quotationApproval:before {
  content: '\e885';
}

.icon-linzen-extend-bar-chart:before {
  content: '\e772';
}

.icon-linzen-wf-rewardPunishment:before {
  content: '\e886';
}

.icon-linzen-extend-mail-forward:before {
  content: '\e773';
}

.icon-linzen-wf-monthlyReport:before {
  content: '\e887';
}

.icon-linzen-extend-car:before {
  content: '\e774';
}

.icon-linzen-wf-materialRequisition:before {
  content: '\e888';
}

.icon-linzen-extend-meh:before {
  content: '\e775';
}

.icon-linzen-wf-procurementMaterial:before {
  content: '\e889';
}

.icon-linzen-extend-cog:before {
  content: '\e776';
}

.icon-linzen-wf-outboundOrder:before {
  content: '\e88a';
}

.icon-linzen-extend-minus-circle:before {
  content: '\e777';
}

.icon-linzen-echartsPie:before {
  content: '\e778';
}

.icon-linzen-wf-receiptProcessing:before {
  content: '\e88c';
}

.icon-linzen-extend-envelope:before {
  content: '\e779';
}

.icon-linzen-wf-salesOrder:before {
  content: '\e88d';
}

.icon-linzen-compress-screen:before {
  content: '\e77a';
}

.icon-linzen-wf-salesSupport:before {
  content: '\e88e';
}

.icon-linzen-wf-travelApply:before {
  content: '\e88f';
}

.icon-linzen-echartsTree:before {
  content: '\e77c';
}

.icon-linzen-wf-paymentApply:before {
  content: '\e890';
}

.icon-linzen-extend-star-o:before {
  content: '\e77d';
}

.icon-linzen-wf-violationHandling:before {
  content: '\e891';
}

.icon-linzen-extend-paper-plane:before {
  content: '\e77e';
}

.icon-linzen-extend-history:before {
  content: '\e77f';
}

.icon-linzen-wf-purchaseList:before {
  content: '\e893';
}

.icon-linzen-echartsGauge:before {
  content: '\e780';
}

.icon-linzen-wf-warehouseReceipt:before {
  content: '\e894';
}

.icon-linzen-extend-edit:before {
  content: '\e781';
}

.icon-linzen-wf-workContactSheet:before {
  content: '\e895';
}

.icon-linzen-extend-plane:before {
  content: '\e782';
}

.icon-linzen-file-blank:before {
  content: '\e783';
}

.icon-linzen-extend-folder-open:before {
  content: '\e784';
}

.icon-linzen-wf-travelReimbursement:before {
  content: '\e898';
}

.icon-linzen-extend-thumbs-up:before {
  content: '\e785';
}

.icon-linzen-extend-truck:before {
  content: '\e786';
}

.icon-linzen-wf-supplementCard:before {
  content: '\e89a';
}

.icon-linzen-extend-folder:before {
  content: '\e787';
}

.icon-linzen-zhanghao:before {
  content: '\e89b';
}

.icon-linzen-extend-paperclip:before {
  content: '\e788';
}

.icon-linzen-zuzhi:before {
  content: '\e89c';
}

.icon-linzen-extend-star:before {
  content: '\e789';
}

.icon-linzen-xingcheng:before {
  content: '\e89d';
}

.icon-linzen-extend-train:before {
  content: '\e78a';
}

.icon-linzen-extend-motorcycle:before {
  content: '\e78b';
}

.icon-linzen-wf-vehicleApply:before {
  content: '\e89f';
}

.icon-linzen-file-photo:before {
  content: '\e78c';
}

.icon-linzen-zujian:before {
  content: '\e8a0';
}

.icon-linzen-extend-subway:before {
  content: '\e78d';
}

.icon-linzen-extend-envelope-open-o:before {
  content: '\e78e';
}

.icon-linzen-file-csv1:before {
  content: '\e790';
}

.icon-linzen-extend-pencil:before {
  content: '\e791';
}

.icon-linzen-extend-bicycle:before {
  content: '\e792';
}

.icon-linzen-extend-save:before {
  content: '\e793';
}

.icon-linzen-extend-trash:before {
  content: '\e795';
}

.icon-linzen-extend-bus:before {
  content: '\e796';
}

.icon-linzen-file-eps:before {
  content: '\e797';
}

.icon-linzen-file-ai:before {
  content: '\e798';
}

.icon-linzen-extend-share:before {
  content: '\e799';
}

.icon-linzen-file-audio:before {
  content: '\e79b';
}

.icon-linzen-file-word:before {
  content: '\e79c';
}

.icon-linzen-file-pdf:before {
  content: '\e79d';
}

.icon-linzen-file-code:before {
  content: '\e79f';
}

.icon-linzen-flowCirculate:before {
  content: '\e7a1';
}

.icon-linzen-file-ppt:before {
  content: '\e7a4';
}

.icon-linzen-file-video:before {
  content: '\e7a5';
}

.icon-linzen-file-zip:before {
  content: '\e7a8';
}

.icon-linzen-flowDone:before {
  content: '\e7a9';
}

.icon-linzen-file-psd:before {
  content: '\e7aa';
}

.icon-linzen-gangwei2:before {
  content: '\e7ac';
}

.icon-linzen-full-screen:before {
  content: '\e7ad';
}

.icon-linzen-file-rar:before {
  content: '\e7ae';
}

.icon-linzen-file-visio-1:before {
  content: '\e7af';
}

.icon-linzen-file-movie:before {
  content: '\e7b0';
}

.icon-linzen-generator-barcode:before {
  content: '\e7b4';
}

.icon-linzen-flowDesign:before {
  content: '\e7b5';
}

.icon-linzen-formExample1:before {
  content: '\e7b7';
}

.icon-linzen-file-xml:before {
  content: '\e7b9';
}

.icon-linzen-flowMonitor:before {
  content: '\e7ba';
}

.icon-linzen-extend-rocket:before {
  content: '\e7bc';
}

.icon-linzen-file-image:before {
  content: '\e7bd';
}

.icon-linzen-generator-bar:before {
  content: '\e7be';
}

.icon-linzen-generator-date-range:before {
  content: '\e7c0';
}

.icon-linzen-generator-date:before {
  content: '\e7c1';
}

.icon-linzen-generator-card:before {
  content: '\e7c2';
}

.icon-linzen-file-visio:before {
  content: '\e7c3';
}

.icon-linzen-generator-dictionary:before {
  content: '\e7c4';
}

.icon-linzen-generator-email:before {
  content: '\e7c5';
}

.icon-linzen-generator-company:before {
  content: '\e7c6';
}

.icon-linzen-generator-annular:before {
  content: '\e7c7';
}

.icon-linzen-generator-button:before {
  content: '\e7c9';
}

.icon-linzen-generator-count:before {
  content: '\e7ca';
}

.icon-linzen-generator-layout:before {
  content: '\e7cb';
}

.icon-linzen-file-excel:before {
  content: '\e7cc';
}

.icon-linzen-generator-cascader:before {
  content: '\e7cd';
}

.icon-linzen-generator-checkbox:before {
  content: '\e7ce';
}

.icon-linzen-highchartsGauge:before {
  content: '\e856';
}

.icon-linzen-wf-outgoingApply:before {
  content: '\e854';
}

.icon-linzen-mac:before {
  content: '\e7db';
}

.icon-linzen-appDesign:before {
  content: '\e6f9';
}

.icon-linzen-generator-pie:before {
  content: '\e60b';
}

.icon-linzen-scanCode:before {
  content: '\e87e';
}

.icon-linzen-mpUser:before {
  content: '\e794';
}

.icon-linzen-printExample:before {
  content: '\e79a';
}

.icon-linzen-qyOrg:before {
  content: '\e79e';
}

.icon-linzen-qyMessage:before {
  content: '\e7a0';
}

.icon-linzen-generator-subFlow:before {
  content: '\e61b';
}

.icon-linzen-reportExample1:before {
  content: '\e7a2';
}

.icon-linzen-qyConfig:before {
  content: '\e7a3';
}

.icon-linzen-saoyisao:before {
  content: '\e623';
}

.icon-linzen-highcharts-Pie:before {
  content: '\e7b6';
}

.icon-linzen-report-icon-area:before {
  content: '\e63e';
}

.icon-linzen-report-icon-arrow-down:before {
  content: '\e63f';
}

.icon-linzen-report-icon-align-left:before {
  content: '\e640';
}

.icon-linzen-report-icon-align-top:before {
  content: '\e641';
}

.icon-linzen-report-icon-border-all:before {
  content: '\e642';
}

.icon-linzen-report-icon-align-bottom:before {
  content: '\e643';
}

.icon-linzen-report-icon-align-right:before {
  content: '\e644';
}

.icon-linzen-report-icon-bold:before {
  content: '\e645';
}

.icon-linzen-report-icon-border-bottom:before {
  content: '\e646';
}

.icon-linzen-report-icon-align-center:before {
  content: '\e647';
}

.icon-linzen-report-icon-border-right:before {
  content: '\e648';
}

.icon-linzen-report-icon-bubble:before {
  content: '\e649';
}

.icon-linzen-report-icon-diagram:before {
  content: '\e64a';
}

.icon-linzen-report-icon-enlarge:before {
  content: '\e64b';
}

.icon-linzen-report-icon-align-middle:before {
  content: '\e64c';
}

.icon-linzen-report-icon-preview-pagePre:before {
  content: '\e64e';
}

.icon-linzen-report-icon-border-left:before {
  content: '\e64f';
}

.icon-linzen-report-icon-font:before {
  content: '\e652';
}

.icon-linzen-report-icon-border-top:before {
  content: '\e653';
}

.icon-linzen-report-icon-background-color:before {
  content: '\e656';
}

.icon-linzen-report-icon-border-custom:before {
  content: '\e657';
}

.icon-linzen-report-icon-horizontal-column:before {
  content: '\e65c';
}

.icon-linzen-report-icon-column:before {
  content: '\e65d';
}

.icon-linzen-report-icon-font-type:before {
  content: '\e65e';
}

.icon-linzen-report-icon-import-excel:before {
  content: '\e65f';
}

.icon-linzen-report-icon-restore:before {
  content: '\e662';
}

.icon-linzen-report-icon-oblique-head:before {
  content: '\e663';
}

.icon-linzen-report-icon-preview-pdf:before {
  content: '\e664';
}

.icon-linzen-report-icon-preview-pageNext:before {
  content: '\e665';
}

.icon-linzen-report-icon-preview-print:before {
  content: '\e666';
}

.icon-linzen-report-icon-preview-pageLast:before {
  content: '\e667';
}

.icon-linzen-report-icon-preview-excel-paging:before {
  content: '\e669';
}

.icon-linzen-report-icon-radar:before {
  content: '\e66a';
}

.icon-linzen-report-icon-border-none:before {
  content: '\e66b';
}

.icon-linzen-report-icon-preview-word:before {
  content: '\e66c';
}

.icon-linzen-report-icon-scatter:before {
  content: '\e66f';
}

.icon-linzen-report-icon-preview-printPreview:before {
  content: '\e670';
}

.icon-linzen-report-icon-preview-excel-with-paging-sheet:before {
  content: '\e671';
}

.icon-linzen-report-icon-fontsize:before {
  content: '\e672';
}

.icon-linzen-report-icon-search-setting:before {
  content: '\e673';
}

.icon-linzen-report-icon-preview-excel:before {
  content: '\e674';
}

.icon-linzen-report-icon-undo:before {
  content: '\e675';
}

.icon-linzen-report-icon-shrink:before {
  content: '\e676';
}

.icon-linzen-report-icon-configuration:before {
  content: '\e677';
}

.icon-linzen-report-icon-preview-refresh:before {
  content: '\e678';
}

.icon-linzen-report-icon-underline:before {
  content: '\e679';
}

.icon-linzen-report-icon-italic:before {
  content: '\e67b';
}

.icon-linzen-report-icon-preview-printPdf:before {
  content: '\e67c';
}

.icon-linzen-report-icon-merge-cell:before {
  content: '\e67a';
}

.icon-linzen-report-icon-polar-plot:before {
  content: '\e650';
}

.icon-linzen-report-icon-page-preview:before {
  content: '\e668';
}

.icon-linzen-report-icon-doughnut:before {
  content: '\e66e';
}

.icon-linzen-report-icon-preview:before {
  content: '\e655';
}

.icon-linzen-pageDesign:before {
  content: '\e684';
}

.icon-linzen-customUrl:before {
  content: '\e685';
}

.icon-linzen-btn-clearn:before {
  content: '\e80a';
}

.icon-linzen-tree-organization1:before {
  content: '\e82e';
}

.icon-linzen-generator-documents:before {
  content: '\e878';
}

.icon-linzen-generator-createtime:before {
  content: '\e87c';
}
