<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linzen.base.mapper.SysConfigMapper">

    <delete id="deleteSysConfig">
        DELETE FROM SYS_CONFIG WHERE F_CATEGORY ='SysConfig'
    </delete>

    <delete id="deleteMpConfig">
        DELETE FROM SYS_CONFIG WHERE F_CATEGORY = 'MPConfig'
    </delete>

    <delete id="deleteQyhConfig">
        DELETE FROM SYS_CONFIG WHERE F_CATEGORY = 'QYHConfig'
    </delete>

</mapper>
