@font-face {
	font-family: 'icon-zen';
	/* Project id 3271933 */
	src: url('https://at.alicdn.com/t/c/font_3271933_i4bazs8ao2.woff2?t=1699838993189') format('woff2'),
		url('https://at.alicdn.com/t/c/font_3271933_i4bazs8ao2.woff?t=1699838993189') format('woff'),
		url('https://at.alicdn.com/t/c/font_3271933_i4bazs8ao2.ttf?t=1699838993189') format('truetype');
}

.icon-zen {
	font-family: "icon-zen" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zen-launch:before {
	content: "\e901";
}

.icon-zen-turn:before {
	content: "\e8fa";
}

.icon-zen-roll-call:before {
	content: "\e8fb";
}

.icon-zen-comment-img:before {
	content: "\e8fc";
}

.icon-zen-condition:before {
	content: "\e8fd";
}

.icon-zen-generator-iframe:before {
	content: "\e8fe";
}

.icon-zen-edit:before {
	content: "\e8ff";
}

.icon-zen-comment-file:before {
	content: "\e900";
}

.icon-zen-emoji:before {
	content: "\e8f7";
}

.icon-zen-generator-location:before {
	content: "\e8f8";
}

.icon-zen-chat:before {
	content: "\e8f9";
}

.icon-zen-synForThird:before {
	content: "\e8f6";
}

.icon-zen-authGroup:before {
	content: "\e8f2";
}

.icon-zen-fail:before {
	content: "\e8f3";
}

.icon-zen-success:before {
	content: "\e8f4";
}

.icon-zen-clock:before {
	content: "\e8f5";
}

.icon-zen-view:before {
	content: "\e8f1";
}

.icon-zen-shortcut:before {
	content: "\e8f0";
}

.icon-zen-liveData:before {
	content: "\e8ef";
}

.icon-zen-generator-autoComplete:before {
	content: "\e8eb";
}

.icon-zen-contacts:before {
	content: "\e8ec";
}

.icon-zen-portal-text:before {
	content: "\e8ed";
}

.icon-zen-portal-mapChart:before {
	content: "\e8ee";
}

.icon-zen-generator-tableGrid:before {
	content: "\e8db";
}

.icon-zen-portal-card:before {
	content: "\e8dc";
}

.icon-zen-portal-carousel:before {
	content: "\e8dd";
}

.icon-zen-generator-insertCol:before {
	content: "\e8de";
}

.icon-zen-generator-insertRow:before {
	content: "\e8df";
}

.icon-zen-btn-batch:before {
	content: "\e8e0";
}

.icon-zen-portal-collapse:before {
	content: "\e8e1";
}

.icon-zen-portal-rankList:before {
	content: "\e8e2";
}

.icon-zen-portal-image:before {
	content: "\e8e3";
}

.icon-zen-portal-tab:before {
	content: "\e8e4";
}

.icon-zen-portal-video:before {
	content: "\e8e5";
}

.icon-zen-generator-TableSettings:before {
	content: "\e8e6";
}

.icon-zen-btn-common:before {
	content: "\e8e7";
}

.icon-zen-portal-iframe:before {
	content: "\e8e8";
}

.icon-zen-portal-timeAxis:before {
	content: "\e8e9";
}

.icon-zen-portal-schedule:before {
	content: "\e8ea";
}

.icon-zen-flowEntrust-app:before {
	content: "\e8da";
}

.icon-zen-btn-download:before {
	content: "\e8d9";
}

.icon-zen-btn-upload:before {
	content: "\e8d7";
}

.icon-zen-right:before {
	content: "\e8d4";
}

.icon-zen-left:before {
	content: "\e8d5";
}

.icon-zen-arrow-down:before {
	content: "\e8d6";
}

.icon-zen-add-flow:before {
	content: "\e8d8";
}

.icon-zen-launchFlow:before {
	content: "\e8d2";
}

.icon-zen-funcFlow:before {
	content: "\e8d3";
}

.icon-zen-accountConfig:before {
	content: "\e8cb";
}

.icon-zen-sendConfig:before {
	content: "\e8cc";
}

.icon-zen-smsConfig:before {
	content: "\e8cd";
}

.icon-zen-emailConfig:before {
	content: "\e8ce";
}

.icon-zen-msgCenter:before {
	content: "\e8cf";
}

.icon-zen-msgTemplate:before {
	content: "\e8d0";
}

.icon-zen-msgMonitor:before {
	content: "\e8d1";
}

.icon-zen-logo-webhook:before {
	content: "\e8ca";
}

.icon-zen-logo-github:before {
	content: "\e8b0";
}

.icon-zen-logo-feishu:before {
	content: "\e8c5";
}

.icon-zen-logo-dingding:before {
	content: "\e8c6";
}

.icon-zen-logo-wechat:before {
	content: "\e8c7";
}

.icon-zen-logo-qq:before {
	content: "\e8c8";
}

.icon-zen-logo-wxWork:before {
	content: "\e8c9";
}

.icon-zen-position1:before {
	content: "\e8c3";
}

.icon-zen-generator-popupTableSelect:before {
	content: "\e8c4";
}

.icon-zen-gradeManage:before {
	content: "\e8c2";
}

.icon-zen-fold:before {
	content: "\e829";
}

.icon-zen-customForm:before {
	content: "\e857";
}

.icon-zen-branch:before {
	content: "\e8b1";
}

.icon-zen-codeGeneration1:before {
	content: "\e8b2";
}

.icon-zen-filter:before {
	content: "\e8b3";
}

.icon-zen-download:before {
	content: "\e8b4";
}

.icon-zen-functionForm:before {
	content: "\e8b5";
}

.icon-zen-unfold:before {
	content: "\e8b6";
}

.icon-zen-node:before {
	content: "\e8b7";
}

.icon-zen-nav-home:before {
	content: "\e8b8";
}

.icon-zen-systemForm:before {
	content: "\e8b9";
}

.icon-zen-generator-link:before {
	content: "\e8ba";
}

.icon-zen-timer:before {
	content: "\e8bb";
}

.icon-zen-generator-alert:before {
	content: "\e8bc";
}

.icon-zen-generator-group1:before {
	content: "\e8bd";
}

.icon-zen-generator-role:before {
	content: "\e8be";
}

.icon-zen-systemToggle:before {
	content: "\e8bf";
}

.icon-zen-upload:before {
	content: "\e8c0";
}

.icon-zen-generator-department1:before {
	content: "\e8c1";
}

.icon-zen-signature:before {
	content: "\e8af";
}

.icon-zen-yingyong:before {
	content: "\e81e";
}

.icon-zen-generator-section:before {
	content: "\e853";
}

.icon-zen-lianxi:before {
	content: "\e873";
}

.icon-zen-bigScreenExampl:before {
	content: "\e755";
}

.icon-zen-appForm:before {
	content: "\e756";
}

.icon-zen-authorize:before {
	content: "\e75c";
}

.icon-zen-dataApplication:before {
	content: "\e75d";
}

.icon-zen-dataDictionary:before {
	content: "\e76c";
}

.icon-zen-codeGeneration:before {
	content: "\e76f";
}

.icon-zen-documentPreviewExample:before {
	content: "\e77b";
}

.icon-zen-dataInterface:before {
	content: "\e78f";
}

.icon-zen-bigScreenDesign:before {
	content: "\e7a7";
}

.icon-zen-dataSync:before {
	content: "\e7ab";
}

.icon-zen-extend:before {
	content: "\e7b1";
}

.icon-zen-flowForm:before {
	content: "\e7b2";
}

.icon-zen-dataModel:before {
	content: "\e7bb";
}

.icon-zen-formExample:before {
	content: "\e7c8";
}

.icon-zen-department:before {
	content: "\e812";
}

.icon-zen-dataSource:before {
	content: "\e816";
}

.icon-zen-flowLaunch:before {
	content: "\e81b";
}

.icon-zen-flowForm1:before {
	content: "\e81f";
}

.icon-zen-formDesign:before {
	content: "\e827";
}

.icon-zen-highchartsWordcloud:before {
	content: "\e82c";
}

.icon-zen-dataBackup:before {
	content: "\e830";
}

.icon-zen-flowEntrust:before {
	content: "\e831";
}

.icon-zen-role:before {
	content: "\e832";
}

.icon-zen-information:before {
	content: "\e834";
}

.icon-zen-portalDesign:before {
	content: "\e83b";
}

.icon-zen-highchartsColumn:before {
	content: "\e83c";
}

.icon-zen-onlineUser:before {
	content: "\e83f";
}

.icon-zen-sysMonitor:before {
	content: "\e842";
}

.icon-zen-sysCache:before {
	content: "\e843";
}

.icon-zen-organization:before {
	content: "\e845";
}

.icon-zen-flowTodo:before {
	content: "\e847";
}

.icon-zen-pause:before {
	content: "\e849";
}

.icon-zen-report-icon-preview-pageIndex:before {
	content: "\e84c";
}

.icon-zen-sysProvince:before {
	content: "\e850";
}

.icon-zen-sysNotice:before {
	content: "\e851";
}

.icon-zen-wf-finishedProduct:before {
	content: "\e852";
}

.icon-zen-reportExample:before {
	content: "\e85d";
}

.icon-zen-wf-crmOrder:before {
	content: "\e864";
}

.icon-zen-signetExample:before {
	content: "\e866";
}

.icon-zen-position:before {
	content: "\e867";
}

.icon-zen-permission:before {
	content: "\e868";
}

.icon-zen-user:before {
	content: "\e871";
}

.icon-zen-wf-expenseExpenditure:before {
	content: "\e877";
}

.icon-zen-onlineDevelopment:before {
	content: "\e87a";
}

.icon-zen-sysBillRule:before {
	content: "\e88b";
}

.icon-zen-system:before {
	content: "\e892";
}

.icon-zen-reportDesign:before {
	content: "\e896";
}

.icon-zen-sysQuartz:before {
	content: "\e897";
}

.icon-zen-workFlow:before {
	content: "\e89e";
}

.icon-zen-sysIcon:before {
	content: "\e8a4";
}

.icon-zen-huibao:before {
	content: "\e8a5";
}

.icon-zen-webForm:before {
	content: "\e8a6";
}

.icon-zen-wf-staffOvertime:before {
	content: "\e8a7";
}

.icon-zen-tree-manage1:before {
	content: "\e8a8";
}

.icon-zen-webDesign:before {
	content: "\e8a9";
}

.icon-zen-wf-receiptSign:before {
	content: "\e8aa";
}

.icon-zen-windows:before {
	content: "\e8ab";
}

.icon-zen-systemTemplate:before {
	content: "\e8ac";
}

.icon-zen-sysLog:before {
	content: "\e8ad";
}

.icon-zen-sysConfig:before {
	content: "\e8ae";
}

.icon-zen-header-pannel:before {
	content: "\e7cf";
}

.icon-zen-search:before {
	content: "\e804";
}

.icon-zen-header-message:before {
	content: "\e810";
}

.icon-zen-generator-jobs:before {
	content: "\e819";
}

.icon-zen-clean:before {
	content: "\e83e";
}

.icon-zen-header-IM:before {
	content: "\e899";
}

.icon-zen-header-language:before {
	content: "\e8a3";
}

.icon-zen-flowDone-app:before {
	content: "\e7a6";
}

.icon-zen-flowLaunch-app:before {
	content: "\e7b3";
}

.icon-zen-addFlow:before {
	content: "\e7b8";
}

.icon-zen-flowCopy-app:before {
	content: "\e7bf";
}

.icon-zen-flowTodo-app:before {
	content: "\e8a2";
}

.icon-zen-mobile:before {
	content: "\e7dc";
}

.icon-zen-pc:before {
	content: "\e7ee";
}

.icon-zen-video-play:before {
	content: "\e8a1";
}

.icon-zen-header-collapse1:before {
	content: "\e809";
}

.icon-zen-xitong:before {
	content: "\e814";
}

.icon-zen-full-screen1:before {
	content: "\e7d0";
}

.icon-zen-file-html1:before {
	content: "\e7d1";
}

.icon-zen-generator-area:before {
	content: "\e7d2";
}

.icon-zen-generator-modifytime:before {
	content: "\e7d3";
}

.icon-zen-generator-fold:before {
	content: "\e7d4";
}

.icon-zen-generator-founder:before {
	content: "\e7d5";
}

.icon-zen-generator-line:before {
	content: "\e7d6";
}

.icon-zen-generator-department:before {
	content: "\e7d7";
}

.icon-zen-generator-function:before {
	content: "\e7d8";
}

.icon-zen-generator-notice:before {
	content: "\e7d9";
}

.icon-zen-generator-Provinces:before {
	content: "\e7da";
}

.icon-zen-generator-popup-attr:before {
	content: "\e7dd";
}

.icon-zen-generator-divider:before {
	content: "\e7de";
}

.icon-zen-generator-radio:before {
	content: "\e7df";
}

.icon-zen-generator-menu:before {
	content: "\e7e0";
}

.icon-zen-generator-popup:before {
	content: "\e7e1";
}

.icon-zen-generator-input:before {
	content: "\e7e2";
}

.icon-zen-generator-rich-text:before {
	content: "\e7e3";
}

.icon-zen-generator-Panel:before {
	content: "\e7e4";
}

.icon-zen-generator-table:before {
	content: "\e7e5";
}

.icon-zen-generator-radar:before {
	content: "\e7e6";
}

.icon-zen-generator-password:before {
	content: "\e7e7";
}

.icon-zen-generator-component:before {
	content: "\e7e8";
}

.icon-zen-generator-station:before {
	content: "\e7e9";
}

.icon-zen-generator-rate:before {
	content: "\e7ea";
}

.icon-zen-generator-subFlow1:before {
	content: "\e7eb";
}

.icon-zen-generator-number:before {
	content: "\e7ec";
}

.icon-zen-generator-steps:before {
	content: "\e7ed";
}

.icon-zen-generator-flow:before {
	content: "\e7ef";
}

.icon-zen-generator-color:before {
	content: "\e7f0";
}

.icon-zen-generator-label:before {
	content: "\e7f1";
}

.icon-zen-generator-nature:before {
	content: "\e7f2";
}

.icon-zen-generator-select:before {
	content: "\e7f3";
}

.icon-zen-generator-slider:before {
	content: "\e7f4";
}

.icon-zen-generator-qrcode:before {
	content: "\e7f5";
}

.icon-zen-generator-group:before {
	content: "\e7f6";
}

.icon-zen-generator-time:before {
	content: "\e7f7";
}

.icon-zen-generator-user:before {
	content: "\e7f8";
}

.icon-zen-generator-modifier:before {
	content: "\e7f9";
}

.icon-zen-h5:before {
	content: "\e7fa";
}

.icon-zen-generator-tree:before {
	content: "\e7fb";
}

.icon-zen-gonggao:before {
	content: "\e7fc";
}

.icon-zen-generator-kanban:before {
	content: "\e7fd";
}

.icon-zen-generator-textarea:before {
	content: "\e7fe";
}

.icon-zen-generator-todo:before {
	content: "\e7ff";
}

.icon-zen-header-loginOut:before {
	content: "\e800";
}

.icon-zen-header-expand:before {
	content: "\e801";
}

.icon-zen-generator-time-range:before {
	content: "\e802";
}

.icon-zen-header-lockScreen:before {
	content: "\e803";
}

.icon-zen-generator-switch:before {
	content: "\e805";
}

.icon-zen-header-feedBack:before {
	content: "\e806";
}

.icon-zen-header-skins:before {
	content: "\e807";
}

.icon-zen-global-role:before {
	content: "\e808";
}

.icon-zen-highchartsBullet:before {
	content: "\e80b";
}

.icon-zen-header-userInfo:before {
	content: "\e80c";
}

.icon-zen-generator-upload:before {
	content: "\e80d";
}

.icon-zen-generator-todolist:before {
	content: "\e80e";
}

.icon-zen-highchartsArea:before {
	content: "\e80f";
}

.icon-zen-highchartsFunnel:before {
	content: "\e811";
}

.icon-zen-highcharts:before {
	content: "\e813";
}

.icon-zen-header-about:before {
	content: "\e815";
}

.icon-zen-importAndExportExample:before {
	content: "\e817";
}

.icon-zen-highchartsScatter:before {
	content: "\e818";
}

.icon-zen-header-language1:before {
	content: "\e81a";
}

.icon-zen-mpMenu:before {
	content: "\e81c";
}

.icon-zen-group:before {
	content: "\e81d";
}

.icon-zen-nav-close:before {
	content: "\e820";
}

.icon-zen-highchartsLine:before {
	content: "\e821";
}

.icon-zen-ios:before {
	content: "\e822";
}

.icon-zen-highchartsBellcurve:before {
	content: "\e823";
}

.icon-zen-mpMaterial:before {
	content: "\e824";
}

.icon-zen-mpMessage:before {
	content: "\e825";
}

.icon-zen-message:before {
	content: "\e826";
}

.icon-zen-java:before {
	content: "\e828";
}

.icon-zen-orderDemo:before {
	content: "\e82a";
}

.icon-zen-position-1:before {
	content: "\e82b";
}

.icon-zen-nav-next:before {
	content: "\e82d";
}

.icon-zen-projectExample:before {
	content: "\e82f";
}

.icon-zen-mapExample:before {
	content: "\e833";
}

.icon-zen-qyUser:before {
	content: "\e835";
}

.icon-zen-scanCode1:before {
	content: "\e836";
}

.icon-zen-report-icon-picture:before {
	content: "\e837";
}

.icon-zen-mpConfig:before {
	content: "\e838";
}

.icon-zen-options1:before {
	content: "\e839";
}

.icon-zen-nav-prev:before {
	content: "\e83a";
}

.icon-zen-scheduleExample:before {
	content: "\e83d";
}

.icon-zen-Refresh:before {
	content: "\e840";
}

.icon-zen-options:before {
	content: "\e841";
}

.icon-zen-saolian:before {
	content: "\e844";
}

.icon-zen-shezhi:before {
	content: "\e846";
}

.icon-zen-sysMenu:before {
	content: "\e848";
}

.icon-zen-barCodeExample:before {
	content: "\e73b";
}

.icon-zen-sysLanguage:before {
	content: "\e84a";
}

.icon-zen-report-icon-pie:before {
	content: "\e84b";
}

.icon-zen-bigScreenExample1:before {
	content: "\e73e";
}

.icon-zen-bigDataExample:before {
	content: "\e73f";
}

.icon-zen-orderExample:before {
	content: "\e84d";
}

.icon-zen-preview-excel-paging:before {
	content: "\e84e";
}

.icon-zen-btn-import:before {
	content: "\e741";
}

.icon-zen-tableExample:before {
	content: "\e84f";
}

.icon-zen-btn-collapse:before {
	content: "\e742";
}

.icon-zen-btn-edit:before {
	content: "\e743";
}

.icon-zen-chartExample:before {
	content: "\e744";
}

.icon-zen-btn-refresh:before {
	content: "\e746";
}

.icon-zen-tree-department:before {
	content: "\e855";
}

.icon-zen-checktriangle:before {
	content: "\e747";
}

.icon-zen-btn-fields:before {
	content: "\e748";
}

.icon-zen-tree-department2:before {
	content: "\e858";
}

.icon-zen-btn-export:before {
	content: "\e749";
}

.icon-zen-tree-normal1:before {
	content: "\e859";
}

.icon-zen-btn-preview:before {
	content: "\e74a";
}

.icon-zen-tree-normal:before {
	content: "\e85a";
}

.icon-zen-tree-organization3:before {
	content: "\e85b";
}

.icon-zen-btn-add:before {
	content: "\e74c";
}

.icon-zen-tree-position2:before {
	content: "\e85c";
}

.icon-zen-btn-expand:before {
	content: "\e74e";
}

.icon-zen-tree-user2:before {
	content: "\e85e";
}

.icon-zen-daiban1:before {
	content: "\e74f";
}

.icon-zen-tree-department1:before {
	content: "\e85f";
}

.icon-zen-daka:before {
	content: "\e750";
}

.icon-zen-tableExample1:before {
	content: "\e860";
}

.icon-zen-tree-manage:before {
	content: "\e861";
}

.icon-zen-android:before {
	content: "\e752";
}

.icon-zen-wf-applyDeliverGoods:before {
	content: "\e862";
}

.icon-zen-darg:before {
	content: "\e753";
}

.icon-zen-wechat1:before {
	content: "\e863";
}

.icon-zen-duties:before {
	content: "\e754";
}

.icon-zen-tree-position1:before {
	content: "\e865";
}

.icon-zen-echartsColumn:before {
	content: "\e757";
}

.icon-zen-delete:before {
	content: "\e758";
}

.icon-zen-echartsCandlestick:before {
	content: "\e759";
}

.icon-zen-visual-studio:before {
	content: "\e869";
}

.icon-zen-btn-remove:before {
	content: "\e75a";
}

.icon-zen-wf-conBilling:before {
	content: "\e86a";
}

.icon-zen-echartsFunnel:before {
	content: "\e75b";
}

.icon-zen-wf-batchPack:before {
	content: "\e86b";
}

.icon-zen-tree-department-1:before {
	content: "\e86c";
}

.icon-zen-wf-articlesWarehous:before {
	content: "\e86d";
}

.icon-zen-emailExample:before {
	content: "\e75e";
}

.icon-zen-wf-applyMeeting:before {
	content: "\e86e";
}

.icon-zen-dingdang:before {
	content: "\e75f";
}

.icon-zen-wf-batchTable:before {
	content: "\e86f";
}

.icon-zen-echartsLineArea:before {
	content: "\e760";
}

.icon-zen-wf-applyBanquet:before {
	content: "\e870";
}

.icon-zen-crm:before {
	content: "\e761";
}

.icon-zen-extend-ambulance:before {
	content: "\e762";
}

.icon-zen-wf-documentApproval:before {
	content: "\e872";
}

.icon-zen-echartsScatter:before {
	content: "\e763";
}

.icon-zen-wf-archivalBorrow:before {
	content: "\e874";
}

.icon-zen-dbLink:before {
	content: "\e764";
}

.icon-zen-wf-debitBill:before {
	content: "\e875";
}

.icon-zen-dot-net:before {
	content: "\e765";
}

.icon-zen-weChat:before {
	content: "\e876";
}

.icon-zen-extend-exclamation-triangle:before {
	content: "\e766";
}

.icon-zen-btn-copy:before {
	content: "\e767";
}

.icon-zen-wf-contractApproval:before {
	content: "\e879";
}

.icon-zen-documentExample:before {
	content: "\e768";
}

.icon-zen-echartsLineBar:before {
	content: "\e769";
}

.icon-zen-wf-documentSigning:before {
	content: "\e87b";
}

.icon-zen-extend-clock:before {
	content: "\e76a";
}

.icon-zen-wf-contractApprovalSheet:before {
	content: "\e87d";
}

.icon-zen-extend-check-circle-o:before {
	content: "\e76b";
}

.icon-zen-wf-leaveApply:before {
	content: "\e87f";
}

.icon-zen-wf-letterService:before {
	content: "\e880";
}

.icon-zen-erweima:before {
	content: "\e76d";
}

.icon-zen-wf-officeSupplies:before {
	content: "\e881";
}

.icon-zen-echartsBarAcross:before {
	content: "\e76e";
}

.icon-zen-wf-payDistribution:before {
	content: "\e882";
}

.icon-zen-wf-incomeRecognition:before {
	content: "\e883";
}

.icon-zen-extend-eye:before {
	content: "\e770";
}

.icon-zen-wf-postBatchTab:before {
	content: "\e884";
}

.icon-zen-extend-circle:before {
	content: "\e771";
}

.icon-zen-wf-quotationApproval:before {
	content: "\e885";
}

.icon-zen-extend-bar-chart:before {
	content: "\e772";
}

.icon-zen-wf-rewardPunishment:before {
	content: "\e886";
}

.icon-zen-extend-mail-forward:before {
	content: "\e773";
}

.icon-zen-wf-monthlyReport:before {
	content: "\e887";
}

.icon-zen-extend-car:before {
	content: "\e774";
}

.icon-zen-wf-materialRequisition:before {
	content: "\e888";
}

.icon-zen-extend-meh:before {
	content: "\e775";
}

.icon-zen-wf-procurementMaterial:before {
	content: "\e889";
}

.icon-zen-extend-cog:before {
	content: "\e776";
}

.icon-zen-wf-outboundOrder:before {
	content: "\e88a";
}

.icon-zen-extend-minus-circle:before {
	content: "\e777";
}

.icon-zen-echartsPie:before {
	content: "\e778";
}

.icon-zen-wf-receiptProcessing:before {
	content: "\e88c";
}

.icon-zen-extend-envelope:before {
	content: "\e779";
}

.icon-zen-wf-salesOrder:before {
	content: "\e88d";
}

.icon-zen-compress-screen:before {
	content: "\e77a";
}

.icon-zen-wf-salesSupport:before {
	content: "\e88e";
}

.icon-zen-wf-travelApply:before {
	content: "\e88f";
}

.icon-zen-echartsTree:before {
	content: "\e77c";
}

.icon-zen-wf-paymentApply:before {
	content: "\e890";
}

.icon-zen-extend-star-o:before {
	content: "\e77d";
}

.icon-zen-wf-violationHandling:before {
	content: "\e891";
}

.icon-zen-extend-paper-plane:before {
	content: "\e77e";
}

.icon-zen-extend-history:before {
	content: "\e77f";
}

.icon-zen-wf-purchaseList:before {
	content: "\e893";
}

.icon-zen-echartsGauge:before {
	content: "\e780";
}

.icon-zen-wf-warehouseReceipt:before {
	content: "\e894";
}

.icon-zen-extend-edit:before {
	content: "\e781";
}

.icon-zen-wf-workContactSheet:before {
	content: "\e895";
}

.icon-zen-extend-plane:before {
	content: "\e782";
}

.icon-zen-file-blank:before {
	content: "\e783";
}

.icon-zen-extend-folder-open:before {
	content: "\e784";
}

.icon-zen-wf-travelReimbursement:before {
	content: "\e898";
}

.icon-zen-extend-thumbs-up:before {
	content: "\e785";
}

.icon-zen-extend-truck:before {
	content: "\e786";
}

.icon-zen-wf-supplementCard:before {
	content: "\e89a";
}

.icon-zen-extend-folder:before {
	content: "\e787";
}

.icon-zen-zhanghao:before {
	content: "\e89b";
}

.icon-zen-extend-paperclip:before {
	content: "\e788";
}

.icon-zen-zuzhi:before {
	content: "\e89c";
}

.icon-zen-extend-star:before {
	content: "\e789";
}

.icon-zen-xingcheng:before {
	content: "\e89d";
}

.icon-zen-extend-train:before {
	content: "\e78a";
}

.icon-zen-extend-motorcycle:before {
	content: "\e78b";
}

.icon-zen-wf-vehicleApply:before {
	content: "\e89f";
}

.icon-zen-file-photo:before {
	content: "\e78c";
}

.icon-zen-zujian:before {
	content: "\e8a0";
}

.icon-zen-extend-subway:before {
	content: "\e78d";
}

.icon-zen-extend-envelope-open-o:before {
	content: "\e78e";
}

.icon-zen-file-csv1:before {
	content: "\e790";
}

.icon-zen-extend-pencil:before {
	content: "\e791";
}

.icon-zen-extend-bicycle:before {
	content: "\e792";
}

.icon-zen-extend-save:before {
	content: "\e793";
}

.icon-zen-extend-trash:before {
	content: "\e795";
}

.icon-zen-extend-bus:before {
	content: "\e796";
}

.icon-zen-file-eps:before {
	content: "\e797";
}

.icon-zen-file-ai:before {
	content: "\e798";
}

.icon-zen-extend-share:before {
	content: "\e799";
}

.icon-zen-file-audio:before {
	content: "\e79b";
}

.icon-zen-file-word:before {
	content: "\e79c";
}

.icon-zen-file-pdf:before {
	content: "\e79d";
}

.icon-zen-file-code:before {
	content: "\e79f";
}

.icon-zen-flowCirculate:before {
	content: "\e7a1";
}

.icon-zen-file-ppt:before {
	content: "\e7a4";
}

.icon-zen-file-video:before {
	content: "\e7a5";
}

.icon-zen-file-zip:before {
	content: "\e7a8";
}

.icon-zen-flowDone:before {
	content: "\e7a9";
}

.icon-zen-file-psd:before {
	content: "\e7aa";
}

.icon-zen-gangwei2:before {
	content: "\e7ac";
}

.icon-zen-full-screen:before {
	content: "\e7ad";
}

.icon-zen-file-rar:before {
	content: "\e7ae";
}

.icon-zen-file-visio-1:before {
	content: "\e7af";
}

.icon-zen-file-movie:before {
	content: "\e7b0";
}

.icon-zen-generator-barcode:before {
	content: "\e7b4";
}

.icon-zen-flowDesign:before {
	content: "\e7b5";
}

.icon-zen-formExample1:before {
	content: "\e7b7";
}

.icon-zen-file-xml:before {
	content: "\e7b9";
}

.icon-zen-flowMonitor:before {
	content: "\e7ba";
}

.icon-zen-extend-rocket:before {
	content: "\e7bc";
}

.icon-zen-file-image:before {
	content: "\e7bd";
}

.icon-zen-generator-bar:before {
	content: "\e7be";
}

.icon-zen-generator-date-range:before {
	content: "\e7c0";
}

.icon-zen-generator-date:before {
	content: "\e7c1";
}

.icon-zen-generator-card:before {
	content: "\e7c2";
}

.icon-zen-file-visio:before {
	content: "\e7c3";
}

.icon-zen-generator-dictionary:before {
	content: "\e7c4";
}

.icon-zen-generator-email:before {
	content: "\e7c5";
}

.icon-zen-generator-company:before {
	content: "\e7c6";
}

.icon-zen-generator-annular:before {
	content: "\e7c7";
}

.icon-zen-generator-button:before {
	content: "\e7c9";
}

.icon-zen-generator-count:before {
	content: "\e7ca";
}

.icon-zen-generator-layout:before {
	content: "\e7cb";
}

.icon-zen-file-excel:before {
	content: "\e7cc";
}

.icon-zen-generator-cascader:before {
	content: "\e7cd";
}

.icon-zen-generator-checkbox:before {
	content: "\e7ce";
}

.icon-zen-highchartsGauge:before {
	content: "\e856";
}

.icon-zen-wf-outgoingApply:before {
	content: "\e854";
}

.icon-zen-mac:before {
	content: "\e7db";
}

.icon-zen-appDesign:before {
	content: "\e6f9";
}

.icon-zen-generator-pie:before {
	content: "\e60b";
}

.icon-zen-scanCode:before {
	content: "\e87e";
}

.icon-zen-mpUser:before {
	content: "\e794";
}

.icon-zen-printExample:before {
	content: "\e79a";
}

.icon-zen-qyOrg:before {
	content: "\e79e";
}

.icon-zen-qyMessage:before {
	content: "\e7a0";
}

.icon-zen-generator-subFlow:before {
	content: "\e61b";
}

.icon-zen-reportExample1:before {
	content: "\e7a2";
}

.icon-zen-qyConfig:before {
	content: "\e7a3";
}

.icon-zen-saoyisao:before {
	content: "\e623";
}

.icon-zen-highcharts-Pie:before {
	content: "\e7b6";
}

.icon-zen-report-icon-area:before {
	content: "\e63e";
}

.icon-zen-report-icon-arrow-down:before {
	content: "\e63f";
}

.icon-zen-report-icon-align-left:before {
	content: "\e640";
}

.icon-zen-report-icon-align-top:before {
	content: "\e641";
}

.icon-zen-report-icon-border-all:before {
	content: "\e642";
}

.icon-zen-report-icon-align-bottom:before {
	content: "\e643";
}

.icon-zen-report-icon-align-right:before {
	content: "\e644";
}

.icon-zen-report-icon-bold:before {
	content: "\e645";
}

.icon-zen-report-icon-border-bottom:before {
	content: "\e646";
}

.icon-zen-report-icon-align-center:before {
	content: "\e647";
}

.icon-zen-report-icon-border-right:before {
	content: "\e648";
}

.icon-zen-report-icon-bubble:before {
	content: "\e649";
}

.icon-zen-report-icon-diagram:before {
	content: "\e64a";
}

.icon-zen-report-icon-enlarge:before {
	content: "\e64b";
}

.icon-zen-report-icon-align-middle:before {
	content: "\e64c";
}

.icon-zen-report-icon-preview-pagePre:before {
	content: "\e64e";
}

.icon-zen-report-icon-border-left:before {
	content: "\e64f";
}

.icon-zen-report-icon-font:before {
	content: "\e652";
}

.icon-zen-report-icon-border-top:before {
	content: "\e653";
}

.icon-zen-report-icon-background-color:before {
	content: "\e656";
}

.icon-zen-report-icon-border-custom:before {
	content: "\e657";
}

.icon-zen-report-icon-horizontal-column:before {
	content: "\e65c";
}

.icon-zen-report-icon-column:before {
	content: "\e65d";
}

.icon-zen-report-icon-font-type:before {
	content: "\e65e";
}

.icon-zen-report-icon-import-excel:before {
	content: "\e65f";
}

.icon-zen-report-icon-restore:before {
	content: "\e662";
}

.icon-zen-report-icon-oblique-head:before {
	content: "\e663";
}

.icon-zen-report-icon-preview-pdf:before {
	content: "\e664";
}

.icon-zen-report-icon-preview-pageNext:before {
	content: "\e665";
}

.icon-zen-report-icon-preview-print:before {
	content: "\e666";
}

.icon-zen-report-icon-preview-pageLast:before {
	content: "\e667";
}

.icon-zen-report-icon-preview-excel-paging:before {
	content: "\e669";
}

.icon-zen-report-icon-radar:before {
	content: "\e66a";
}

.icon-zen-report-icon-border-none:before {
	content: "\e66b";
}

.icon-zen-report-icon-preview-word:before {
	content: "\e66c";
}

.icon-zen-report-icon-scatter:before {
	content: "\e66f";
}

.icon-zen-report-icon-preview-printPreview:before {
	content: "\e670";
}

.icon-zen-report-icon-preview-excel-with-paging-sheet:before {
	content: "\e671";
}

.icon-zen-report-icon-fontsize:before {
	content: "\e672";
}

.icon-zen-report-icon-search-setting:before {
	content: "\e673";
}

.icon-zen-report-icon-preview-excel:before {
	content: "\e674";
}

.icon-zen-report-icon-undo:before {
	content: "\e675";
}

.icon-zen-report-icon-shrink:before {
	content: "\e676";
}

.icon-zen-report-icon-configuration:before {
	content: "\e677";
}

.icon-zen-report-icon-preview-refresh:before {
	content: "\e678";
}

.icon-zen-report-icon-underline:before {
	content: "\e679";
}

.icon-zen-report-icon-italic:before {
	content: "\e67b";
}

.icon-zen-report-icon-preview-printPdf:before {
	content: "\e67c";
}

.icon-zen-report-icon-merge-cell:before {
	content: "\e67a";
}

.icon-zen-report-icon-polar-plot:before {
	content: "\e650";
}

.icon-zen-report-icon-page-preview:before {
	content: "\e668";
}

.icon-zen-report-icon-doughnut:before {
	content: "\e66e";
}

.icon-zen-report-icon-preview:before {
	content: "\e655";
}

.icon-zen-pageDesign:before {
	content: "\e684";
}

.icon-zen-customUrl:before {
	content: "\e685";
}

.icon-zen-btn-clearn:before {
	content: "\e80a";
}

.icon-zen-tree-organization1:before {
	content: "\e82e";
}

.icon-zen-generator-documents:before {
	content: "\e878";
}

.icon-zen-generator-createtime:before {
	content: "\e87c";
}